.App {
    text-align: center;
    color: red !important;
}
.bank {
  /* border: 1px solid red; */
}
.action_btn {
  /* border: 1px solid red;  */
  margin: 0px 17px 0px 17px; 
  float: right;
}
.form_box {
  /* border: 1px solid red;  */
  width: 60%; 
}
.dropdown_box {
  /* border: 1px solid red;  */
  float: left;
}


.App i {
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
}
.buttonSpace {
  margin: 10px; 
}
.circle-add {
  font-size: 30px; 
  color:#007bff;
  float: right; 
}